{% extends 'friend/base.html' %}

{% block title %}<h4 style="text-align: center;">{% if object %}Update {{friend.name}} {% else %} Add Friend {%endif%}</h4><hr>{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card card-body" style=" background-color: {%if object%}slategrey {%else%} cadetblue {%endif%};" >
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="form-group">
                        <button class="btn btn-block btn-outline-primary" type="submit">{% if object %}Update{% else %}Add Friend{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}
